  <!-- search -->
  <div class="sticky top-0 w-full py-4 bg-black">
    <form class="flex items-center ">
      <svg width="26" height="26" viewBox="0 0 24 24" class="absolute top-6 left-2 text-gray-400">
        <path fill="currentColor"
          d="m18.9 20.3l-5.6-5.6q-.75.6-1.725.95Q10.6 16 9.5 16q-2.725 0-4.612-1.887Q3 12.225 3 9.5q0-2.725 1.888-4.613Q6.775 3 9.5 3t4.613 1.887Q16 6.775 16 9.5q0 1.1-.35 2.075q-.35.975-.95 1.725l5.625 5.625q.275.275.275.675t-.3.7q-.275.275-.7.275q-.425 0-.7-.275ZM9.5 14q1.875 0 3.188-1.312Q14 11.375 14 9.5q0-1.875-1.312-3.188Q11.375 5 9.5 5Q7.625 5 6.312 6.312Q5 7.625 5 9.5q0 1.875 1.312 3.188Q7.625 14 9.5 14Z" />
      </svg>
      <input oninput="search()" onblur="hide_search_reults()" onfocus="show_search_results()" type="text" placeholder="Search Twitter" class="w-full h-12 pl-12 bg-zinc-800 rounded-full ">
    </form>
    <div id="search_results" class="absolute z-50 w-full h-14 bg-zinc-800 rounded-md hidden">
      
    </div>
  </div>

  

  % if show_latest_tweets == "True":
    <div class="grid grid-cols-3 grid-rows-[100px_minmax(100px,100px)] gap-0.5 rounded-xl overflow-hidden my-6">
      % for tweet in [i for i in tweets_and_user_data if i['tweet_image']][:6]:
        %if tweet["tweet_image"] != "":  
          <a href="" class="flex col-span-1 row-span-1">
            <img class="w-full object-cover" src="/images/{{tweet['tweet_image']}}">
          </a>
        %end
      %end
    </div>
  % end



  <!-- trending -->
 <div class="flex flex-col gap-4 w-full bg-zinc-900 rounded-2xl">
    <div class="text-2xl font-bold p-4">
      Trends for you
    </div>

    <!-- trends -->
    % for trend in trends:
    <div class="text-sm py-2 pl-4 hover:bg-zinc-800">
      <div class="flex pr-4">
        <div class="text-white font-bold">
          {{trend["trend_title"]}}
        </div>
        <svg width="25" height="25" viewBox="0 0 24 24" class="ml-auto text-gray-500">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M6.75 12a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Zm6 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Zm6 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Z" />
        </svg>
      </div>
      <div class="text-zinc-400 font-semibold">
        {{trend["trend_total_tweets"]}} Tweets
      </div>
    </div>
    % end    

    <a href="" class="text-sky-500 py-2 pl-4">
      Show more
    </a>
  </div>
  <!-- end trending -->


<script src="/js/search.js"></script>
