
<!--kun True på profil sider - ikke på forsiden -->
  % if show_latest_tweets == "True": 
    If tweet_image in latest tweet 
    <div class="min-w-sm max-w-sm grid grid-cols-3 grid-rows-2 gap-0.5 rounded-xl overflow-hidden my-6">
      % for tweet in [i for i in tweets_and_user_data if i['tweet_image']][:6]:
        %if tweet["tweet_image"] != "":  
          <a href="" class="grid col-span-1 row-span-1">
            <img class="object-cover h-full w-full aspect-square" src="/tweet_images/{{tweet['tweet_image']}}">
          </a>
        %end
      %end
    </div>
  % end 


  <!-- trending -->
 <div class="flex flex-col gap-4 w-full bg-zinc-900 rounded-2xl">
    <div class="text-2xl font-bold p-4">
      Trends for you
    </div>

    <!-- trends -->
    % for trend in trends:
    <div class="text-sm py-2 pl-4 hover:bg-zinc-800">
      <div class="flex pr-4">
        <div class="text-white font-bold">
          {{trend["trend_title"]}}
        </div>
        <svg width="25" height="25" viewBox="0 0 24 24" class="ml-auto text-gray-500">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
            d="M6.75 12a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Zm6 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Zm6 0a.75.75 0 1 1-1.5 0a.75.75 0 0 1 1.5 0Z" />
        </svg>
      </div>
      <div class="text-zinc-400 font-semibold">
        {{trend["trend_total_tweets"]}} Tweets
      </div>
    </div>
    % end    

    <a href="" class="text-sky-500 py-2 pl-4">
      Show more
    </a>
  </div>
  <!-- end trending -->



