<!-- Confirm action pop up -->

<div id="edit_profile_pop_up" class="fixed flex z-60 w-screen h-full bg-[#7997bb]/[0.3] justify-center items-center">
  <div class="flex flex-col justify-center items-center gap-4 py-6 w-4/5 max-w-[600px] md:w-2/3 xl:w-1/3n bg-black border-2 border-black rounded-2xl overflow-y-auto max-h-[80vh]">

    <h2>Are you sure you want to do this?</h2>

    <section class="flex flex-col gap-6 px-4 translate-y-[-15%] ">
      <p id="confirm_error_message" class="w-full text-center text-white"></p>
      <section class="flex justify-between">
        <!-- action -->
        <input class="p-2 w-[48%] bg-black border-2 border-gray-600 outline-1 outline-none focus:border-[#4A99E9]" type="text" name="" placeholder="" value="">
      </section>
    </section>



    <form method="POST" action="" class="w-full flex justify-center">
        <button type="submit" class="flex justify-center items-center bg-zinc-900 hover:cursor-pointer py-2 px-12 " style="position: relative;">
            Confirm
        </button>
    </form>


  </div>
</div>


