<!-- Update profile -->

<div id="edit_profile_pop_up" class="hidden fixed z-50 w-screen h-full bg-[#7997bb]/[0.3] justify-center items-center">
  <form onsubmit="update_profile(); return false" id="edit_profile_form" enctype="multipart/form-data" class="w-4/5 max-w-[600px] md:w-2/3 xl:w-3/5 pb-8 bg-black border-2 border-black rounded-2xl overflow-y-auto max-h-[80vh]">
    <section class="flex justify-between items-center p-4">
      <!-- close X -->
      <div id="close_edit_profile_pop_up" class="flex items-center group cursor-pointer">
        <span  class="p-1 rounded-full aspect-square group-hover:bg-zinc-900 transition ease-in-out"> <!-- Circle -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffffff" d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z"/></svg>
        </span>
      </div>
      <p class="ml-4">Edit profile</p>
      <button type="submit" class="ml-auto  text-black bg-white rounded-full py-2 px-4" >Save</button>
    </section>
    <section class="flex flex-col w-full">
      <section class="flex relative">
        <div class="relative w-full h-0" style="padding-bottom: 33.33%">
          <img id="uploaded_banner" src="/banner/{{user['user_banner']}}" class="absolute inset-0 object-cover object-center w-full h-full">
        </div>
        <!-- Upload banner til update profile -->
        <label class="absolute flex justify-center items-center w-full h-full" for="uploaded_banner_input" class="cursor-pointer">
          <input type="file" id="uploaded_banner_input" name="uploaded_banner_input" class="hidden" value="{{user['user_banner']}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M19 8V6h-2V4h2V2h2v2h2v2h-2v2h-2ZM3 22q-.825 0-1.413-.588T1 20V8q0-.825.588-1.413T3 6h3.15L8 4h6v2H8.875L7.05 8H3v12h16v-9h2v9q0 .825-.588 1.413T19 22H3Zm8-3.5q1.875 0 3.188-1.313T15.5 14q0-1.875-1.313-3.188T11 9.5q-1.875 0-3.188 1.313T6.5 14q0 1.875 1.313 3.188T11 18.5Zm0-2q-1.05 0-1.775-.725T8.5 14q0-1.05.725-1.775T11 11.5q1.05 0 1.775.725T13.5 14q0 1.05-.725 1.775T11 16.5Zm0-2.5Z"/></svg>    
        </label>
      </section>

        <div class="relative flex px-4 "> <!--container under banner-->
            <section class="flex relative max-w-[25%] h-auto aspect-square left-4 z-9 translate-y-[-50%]">
                <img id="uploaded_avatar" src="/avatar/{{user['user_avatar']}}" class="aspect-square rounded-full">
                <!-- Upload avatar til update profile -->
                <label class="absolute flex justify-center items-center w-full h-full" for="uploaded_avatar_input" class="cursor-pointer">
                    <input type="file" id="uploaded_avatar_input" name="uploaded_avatar_input" class="hidden" value="{{user['user_avatar']}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#000000" d="M19 8V6h-2V4h2V2h2v2h2v2h-2v2h-2ZM3 22q-.825 0-1.413-.588T1 20V8q0-.825.588-1.413T3 6h3.15L8 4h6v2H8.875L7.05 8H3v12h16v-9h2v9q0 .825-.588 1.413T19 22H3Zm8-3.5q1.875 0 3.188-1.313T15.5 14q0-1.875-1.313-3.188T11 9.5q-1.875 0-3.188 1.313T6.5 14q0 1.875 1.313 3.188T11 18.5Zm0-2q-1.05 0-1.775-.725T8.5 14q0-1.05.725-1.775T11 11.5q1.05 0 1.775.725T13.5 14q0 1.05-.725 1.775T11 16.5Zm0-2.5Z"/></svg>
                </label>
            </section>
        </div>
    </section>
    <section class="flex flex-col gap-6 px-4 translate-y-[-15%] ">
      <p id="update_user_error_message" class="w-full text-center text-white"></p>
      <section class="flex justify-between">
        <input class="p-2 w-[48%] bg-black border-2 border-gray-600 outline-1 outline-none focus:border-[#4A99E9]" type="text" name="user_updated_first_name" placeholder="{{user['user_first_name']}}" value="{{user['user_first_name']}}">
        <input class="p-2 w-[48%] bg-black border-2 border-gray-600 outline-1 outline-none focus:border-[#4A99E9]" type="text" name="user_updated_last_name" placeholder="{{user['user_last_name']}}" value="{{user['user_last_name']}}">
      </section>
      <input class="bg-black border-2 border-gray-600 outline-1 outline-none focus:border-[#4A99E9] p-2" type="text" name="user_updated_caption" placeholder="Bio" value="{{user['user_caption']}}">
      <input class="bg-black border-2 border-gray-600 outline-1 outline-none focus:border-[#4A99E9] p-2" type="text" name="user_updated_location" placeholder="Location" value="{{user['user_location']}}">
      <input class="bg-black border-2 border-gray-600 outline-1 outline-none focus:border-[#4A99E9] p-2" type="text" name="user_updated_link" placeholder="Link" value="{{user['user_link']}}">
    </section>



    <!-- Så admin ikke kan deaktivere egen profil -->
    % if user_cookie["user_username"] != "Admin" :
      <form id="deactivate_user_form" method="POST" action="" class="flex flex-col justify-center items-center">
          <section class="flex w-full justify-center">
            <input id="deactivate_user{{user['user_id']}}" type="text" name="deactivate_user_{{user['user_id']}}" class="hidden">
            <button onclick="show_confirm_button(); return false" id="deactivate_profile_btn" type="button" class="flex justify-center items-center h-full hover:bg-zinc-900 hover:cursor-pointer py-2 px-8 border-2 border-zinc-500" style="position: relative;">
                Deactivate user
            </button>
          </section>
          <section id="show_confirm_buttons" class="hidden w-full justify-center">
              <button onclick="show_confirm_button(); return false" type="button" id="cancel_deactivate_profile_btn" class="flex justify-center items-center w-fit h-full hover:cursor-pointer py-2 px-4 mx-2 rounded-bl-md text-black bg-red-400 hover:bg-red-500" >
                  Cancel deactivate
              </button>
              <button onclick="deactivate_own_profile(); return false;" type="submit" class="flex justify-center items-center w-fit h-full hover:cursor-pointer py-2 px-4 mx-2 rounded-br-md text-black bg-[#49b265] hover:bg-[#159947] whitespace-nowrap" >
                  Deactivate profile 
              </button>
          </section>
      </form>
    % end

  </form>
</div>


<script src="/js/deactivate_own_profile.js"></script>
<script src="/js/update_profile.js"></script>