<!--------------------------
    change password pop up
-----------------------  -->

<div id="change_password_pop_up" class="hidden fixed z-50 w-screen h-full bg-[#7997bb]/[0.3] justify-center items-center">
  <form onsubmit="" id="change_password_form" class="w-4/5 max-w-[600px] md:w-2/3 xl:w-3/5 pb-16 bg-black rounded-2xl overflow-y-auto max-h-[80vh]">
    <section class="flex justify-center w-full items-center p-4 ">
      <!-- close X -->
      <div id="x_change_password_pop_up" class="flex sticky w-[35%] items-center group cursor-pointer">
        <span  class="p-1 rounded-full aspect-square group-hover:bg-zinc-900 transition ease-in-out"> <!-- Circle -->
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffffff" d="M20 6.91L17.09 4L12 9.09L6.91 4L4 6.91L9.09 12L4 17.09L6.91 20L12 14.91L17.09 20L20 17.09L14.91 12L20 6.91Z"/></svg>
        </span> 
      </div>
      <p class="text-white  w-[65%] text-2xl">Change password</p>
    </section>

    <section class="flex flex-col justify-center items-center gap-8 px-4 text-white">
      <p id="chanage_password_error_message" class="w-full text-center text-white"></p>
      <input class="p-2 w-[48%] bg-black rounded-lg border-2 border-gray-600 outline-1 outline-none focus:border-[#4A99E9] text-white" type="text" name="chanage_password_email_input" placeholder="Your email" value="">
      <button class="py-2 px-4 w-[48%] bg-[#4A99E9] rounded-lg text-white">Reset password</button>
    </section>
  </form>
</div>


<script src="/js/change_password_email_pop_up.js"></script>