<section class="mt-4">
    <section class="border border-zinc-400 p-4 rounded-lg ">
        <h3 class="text-2xl font-bold">Ny på twitter?</h3>
        <p class="text-sm text-zinc-400">Tilmeld dig nu, og få din egen, helt personlige tidslinje!</p>
        <div class="flex items-center justify-center rounded-full bg-white px-4 py-2 my-4 ">
            <a href="/login" class="flex text-black font-semibold w-full h-full justify-center" style="display: block;">Login</a>
        </div>       
        <div class="flex items-center justify-center rounded-full bg-white px-4 py-2 my-4 ">
            <a href="/register" class="flex text-black font-semibold w-full h-full justify-center" style="display: block;">Registrer</a>
        </div>
        <p class="text-sm text-zinc-400">Ved at tilmelde dig accepterer du <a href="#" class="text-blue-400 hover:underline">vilkår for anvendelse</a> og <a href="#" class="text-blue-400 hover:underline">privatlivspolitik</a>, herunder <a href="#" class="text-blue-400 hover:underline">brug af cookies</a>.</p>
    </section>

    <section class="flex flex-wrap text-sm text-zinc-400">
        <p>Vilkår for anvendelse</p>
        <p>Privatlivspolitik</p>
        <p>Cookiepolitik</p>
        <p>Tilgængelighed</p>
        <p>Annonceinfo</p>
        <p>Mere</p>
        <p>© 2023 Twitter, Inc.</p>
    </section>
</section>
