

<!----------------------
         Left 
----------------------->
% include("comp_header_navbar", title="Forside", contact_active='class="active"')

<div class="flex w-full">
  <!------------------------
            center 
  ------------------------->
  <div class="w-full ">
    <div class="min-h-screen h-full border-x border-gray-600">
      %if user_cookie != None :
        <!-- Home-top section -->
        % include("comp_home_navbar")

        <!-- Create new tweet -->
        % include("comp_create_tweet")

        <!-- TWEETS-->
        % include("comp_tweets")

      % else :
        <!-- TRENDS -->
        % include("comp_trends", show_latest_tweets="False")

      % end
    </div>
    <!-- end center -->
  </div>

  <!----------------------
            right 
  ----------------------->
  <div class="top-1 hidden lg:flex flex-col pl-6 min-w-[300px] max-w-[400px] pr-4 gap-4 pt-4 h-full ">
      % if user_cookie != None :
        <!-- SEARCH -->
        % include("comp_search")

        <!-- TRENDS -->
        % include("comp_trends", show_latest_tweets="False")

        <!-- WHO TO FOLLOW -->
        % include("comp_who_to_follow")

      % else :
        <!-- Login box -->
        % include("comp_login_box")
      %end
  </div>
  <!-- end right -->
</div>


%if user_cookie == None :
  <div class="w-full absolute flex justify-center items-center gap-8 bottom-0 h-24 min-h-[50px] bg-[#1D9BF0]">
    <section class="text-white">
      <h2 class="font-bold text-xl">Don't miss what's happening</h2>
      <p>People on Twitter are the first to know!</p>
    </section>
    <a class="px-8 py-2 cursor-pointer bg-white text-black rounded-full font-semibold" href="/login">Login</a>
    <a class="px-6 py-2 cursor-pointer border border-white rounded-full font-semibold" href="/register">Sign up</a>
  </div>


<!-- ------------------------
      write tweet comment
--------------------- ------>
% if user_cookie != None :
  % include("comp_write_tweet_comment")
% end

% include("comp_footer")