<!-- TODO -->
<!-- Venstre, center, right components -->
<!-- midterste skal vise det tweet, man har klikket ind på med alle kommentarerer nedenunder, nyeste øverst -->
<!-- klik på ny kommentar - åbn write new comment component -->
<!--  -->
<!--  -->




<!---------------------- 
         Left 
----------------------->
% include("comp_header_navbar", title="Profile", contact_active='class="active"')


<!------------------------
          center 
------------------------->
<!-- Center and right container -->
<div class="w-full lg:w-5/12">
  <div class="min-h-screen h-full border-x border-gray-600">

    <div class="sticky w-full top-0 pl-4 py-2 z-10 border-b border-zinc-600 bg-black/[.80] backdrop-blur-sm "> <!--top - go back -->
      <a href="/" class="flex items-center gap-9" >
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="m12 20l-8-8l8-8l1.425 1.4l-5.6 5.6H20v2H7.825l5.6 5.6Z"/></svg>
      </a>
    </div>
  </div>
  <!-- end center -->
</div>




<!----------------------
        right 
----------------------->
<div class="col-span-1 hidden lg:block pl-6 pr-4 pt-4">
  <div class="min-w-[300px] sticky top-1">
            % include("comp_search")

  </div>
</div>
<!-- end right -->




<!-- --------------------
      Update profile
--------------------- -->
<!-- update profile pop up når knap klikkes-->


<script src="/js/follow_unfollow.js"></script>


<!-- footer -->
% include("comp_footer")


