<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/app.css">
  <title>
    {{title}}
  </title>
</head>

<body class="grid grid-cols-[70fr_200fr_0fr] lg:grid-cols-[70fr_120fr_90fr] w-full h-full text-gray-200 text-lg bg-black font-light overflow-hidden overflow-y-scroll">

    <!-- left -->
    <div class="sticky top-0 gap-2 flex flex-col h-screen pl-20 pt-4 pr-4 pb-4">

        <a href="/" class="pb-3 pl-3">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23Z"/></svg>
        </a> 

        <a href="/" class="flex py-3 pl-3 pr-8 gap-4 w-min hover:bg-zinc-900 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="32" viewBox="0 0 576 512" class="w-7 h-7"><path fill="currentColor" d="M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40h-16c-1.1 0-2.2 0-3.3-.1c-1.4.1-2.8.1-4.2.1H392c-22.1 0-40-17.9-40-40v-88c0-17.7-14.3-32-32-32h-64c-17.7 0-32 14.3-32 32v88c0 22.1-17.9 40-40 40h-55.9c-1.5 0-3-.1-4.5-.2c-1.2.1-2.4.2-3.6.2h-16c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9.1-2.8v-69.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7l255.4 224.5c8 7 12 15 11 24z"/></svg>       
            <span class="hidden lg:flex font-bold ">Home</span>
        </a>

        <a href="/" class="flex py-3 pl-3 pr-8 gap-4 w-min hover:bg-zinc-900 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-7 h-7">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5l-3.9 19.5m-2.1-19.5l-3.9 19.5" />
            </svg>              
            <span class="hidden lg:flex">Explore</span>
        </a>
        % if login != None:
            <a href="/" class="flex py-3 pl-3 pr-8 gap-4 w-min hover:bg-zinc-900 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-7 h-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                </svg>              
                <span class="hidden lg:flex">Notifications</span>
            </a>

            <a href="/" class="flex py-3 pl-3 pr-8 gap-4 w-min hover:bg-zinc-900 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-7 h-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                </svg>              
                <span class="hidden lg:flex">Messages</span>
            </a>

            <a href="/" class="flex py-3 pl-3 pr-8 gap-4 w-min hover:bg-zinc-900 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-7 h-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
                </svg>              
                <span class="hidden lg:flex">Bookmarks</span>
            </a>

            <a href="/" class="flex py-3 pl-3 pr-8 gap-4 w-min hover:bg-zinc-900 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" class="w-7 h-7">
                    <path fill="currentColor" d="M6 13h9v-2H6Zm0-3h9V8H6ZM4 20q-.825 0-1.412-.587Q2 18.825 2 18V6q0-.825.588-1.412Q3.175 4 4 4h16q.825 0 1.413.588Q22 5.175 22 6v12q0 .825-.587 1.413Q20.825 20 20 20Zm0-2h16V6H4v12Zm0 0V6v12Z"/>
                </svg>
                <span class="hidden lg:flex">Lists</span>
            </a>
            <a href="/{{login['user_username']}}" class="flex gap-4 w-min hover:bg-zinc-900 rounded-full py-2 pl-3 pr-8">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-7 h-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z" />
                </svg>              
                <span class="hidden lg:flex">Profile</span>
            </a>
            <a href="/" class="flex py-3 pl-3 pr-8 gap-4 w-min hover:bg-zinc-900 rounded-full">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-7 h-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M8.625 12a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>              
                <span class="hidden lg:flex">More</span>
            </a>        
        % end

        <!-- Tweet button -->
        <button class="w-min lg:py-3 lg:px-20 rounded-full bg-[#4A99E9]">
            <span class="lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" class="p-2">
                    <path fill="currentColor" d="M6.94 14.036c-.233.624-.43 1.2-.606 1.783c.96-.697 2.101-1.139 3.418-1.304c2.513-.314 4.746-1.973 5.876-4.058l-1.456-1.455l1.413-1.415l1-1.001c.43-.43.915-1.224 1.428-2.368c-5.593.867-9.018 4.292-11.074 9.818zM17 9.001L18 10c-1 3-4 6-8 6.5c-2.669.334-4.336 2.167-5.002 5.5H3C4 16 6 2 21 2c-1 2.997-1.998 4.996-2.997 5.997L17 9.001z"/>
                </svg>
            </span>
            <span class="hidden lg:flex font-bold text-lg">Tweet</span>
        </button>

        <!-- Logout/profile -->
        <div class="flex justify-center items-center text-lg mt-auto hover:bg-zinc-900 p-3 rounded-full">
            % if login != None:
                <img src="/avatar/{{login['user_avatar']}}" class="rounded-full w-10 h-10">
                <div class="pl-3 pr-16 hidden lg:flex lg:flex-col">
                    
                    <p>{{login["user_first_name"]}} {{login["user_last_name"]}}</p>
                    
                    <p class="text-sm text-zinc-500">@{{login["user_username"]}}</p>
                    
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-200 hidden lg:flex">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                </svg>        
            % else:
                <a href="/login">Log in</a>
            % end       
        </div>
        % if login:
            <button>
                <a href="/logout" class="py-4 px-8">Log ud</a>
            </button>
        % end
    </div>

  <!-- end left -->

