% import x
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <link rel="stylesheet" href="/app.css">
    <title>Login</title>
</head>
<body class="flex flex-col justify-center items-center bg-black w-full h-screen">
    
    <!-- tooltip - showtips() -->
    <section id="tips" class="fixed flex flex-col gap-4 top-4 w-full"></section>
    <!-- end tooltip -->

    <p class=" hidden text-white p-3 text-center bg-red-400 rounded-lg" id="infoText"></p> 
    <form method="POST" action="" class="flex justify-center items-center flex-col rounded-3xl w-1/2 py-10 max-w-xl gap-8">
        <svg class="text-white" xmlns="http://www.w3.org/2000/svg" width="64" height="64" viewBox="0 0 24 24"><path fill="currentColor" d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23Z"/></svg>
        <input class="py-2 px-4 rounded-full w-5/12 max-w-md bg-black border-2 border-gray-400 text-white outline-none focus:border-[#1D9BF0]" name="login-username" type="text" placeholder="username" data-min="{{USER_NAME_MIN}}" data-max="{{USER_NAME_MAX}}" data-validate="str">
        <input class="py-2 px-4 rounded-full w-5/12 max-w-md bg-black border-2 border-gray-400 text-white outline-none focus:border-[#1D9BF0]" name="login-password" type="password" placeholder="password" data-min="{{PASSWORD_MIN}}" data-max="{{PASSWORD_MAX}}" data-validate="str">
        
        <button type="button" onclick="validate(login); return false" data-default="Login" data-await="Please wait ..."
        class="w-5/12 max-w-md py-2 px-6 text-white bg-sky-500 rounded-full">
            Login
        </button>  
    </form>
    <div class="flex flex-col lg:flex-row w-5/12  max-w-md justify-center items-center">
        <span class="text-white">Forgot your password? </span><span onclick="open_change_password_pop_up(); return false" class="text-blue-400 cursor-pointer hover:underline pl-2" >Change password here</span>
    </div>

    <!-- <div class="w-5/12 max-w-md text-white mt-4  text-center">
        <h1 class="font-bold">login</h1>
        <p>brugernavn : majs503</p>
        <p>password : 123</p>
    </div> -->
    <br>
    <div class="flex w-5/12 max-w-md justify-center">
        <span class="text-white">New to twitter? </span><a class="text-blue-400 hover:underline pl-2" href="/register">Register</a>
    </div>


    % include comp_change_password_pop_up

    <script src="/js/validate.js"></script>
    <script src="/js/login.js"></script>
</body>
</html> 