% include("comp_header_navbar", title="Profile", contact_active='class="active"')

<!-- Center and right container -->
<div class="grid min-h-screen h-full grid-cols-[190fr_0fr] lg:grid-cols-[110fr_90fr] xl:grid-cols-[110fr_90fr] 2xl:grid-cols-[120fr_80fr]">
  <!------------------------
            center 
  ------------------------->
  <div class="min-h-screen h-full border-x border-gray-600">
    <div class="sticky w-full top-0 pl-4 py-2 z-10 border-b border-zinc-600 bg-black/[.80] backdrop-blur-sm "> <!--top - go back -->
      <a href="/" class="flex items-center gap-9" >
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="m12 20l-8-8l8-8l1.425 1.4l-5.6 5.6H20v2H7.825l5.6 5.6Z"/></svg>
        <div>
          <span class="text-xl font-bold">{{user["user_first_name"]}} {{user["user_last_name"]}}</span>
          <p class="text-sm text-zinc-500 font-semibold">{{user["user_total_tweets"]}} Tweets</p>
        </div>
      </a>
    </div>
    <div class="flex flex-col w-full pb-20"> <!--image section-->
      <div class="relative">
          <img src="/banner/{{user['user_banner']}}">
          <div class="absolute border-2 border-red-400 top-0 w-full h-full flex align-baseline">
            <img src="/avatar/{{user['user_avatar']}}" class="w-20 rounded-full border-4 border-black">
          </div>
      </div>
    </div>

    <!-- Logged info -->
    <div class="p-4 flex flex-col gap-2">
      <div class="flex flex-col">
        <h2 class="font-bold text-2xl">{{user["user_first_name"]}} {{user["user_last_name"]}}</h2>
        <p class="text-zinc-500 text-sm font-normal">@{{user["user_username"]}}</p>
      </div>
      <p class="flex text-zinc-500 items-center gap-2 text-sm font-normal">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M19 4h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3Zm1 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-7h16Zm0-9H4V7a1 1 0 0 1 1-1h2v1a1 1 0 0 0 2 0V6h6v1a1 1 0 0 0 2 0V6h2a1 1 0 0 1 1 1Z"/></svg>
        {{user["user_first_name"]}} {{user["user_last_name"]}}
      </p>
      <div class="flex gap-4"> <!--Follows and followers-->
        <p class="font-bold text-sm">{{user["user_total_following"]}} <span class="text-zinc-500 font-normal">Follows</span></p>
        <p class="font-bold text-sm">{{user["user_total_followers"]}} <span class="text-zinc-500 font-normal">Followers</span></p>
      </div>
    </div>
    <!--Logged in Navbar-->
    <div class="flex w-full font-semibold"> 
      <a href="#" class="w-3/12 text-center py-4 hover:bg-zinc-900 "><span class="pb-4 border-b-4 border-[#4A99E9] font-bold">Tweets</span></a>
      <a href="#" class="w-4/12 text-center py-4 hover:bg-zinc-900"><span class="text-zinc-500">Tweets and answers</span></a>
      <a href="#" class="w-3/12 text-center py-4 hover:bg-zinc-900"><span class="text-zinc-500">Media</span></a>
      <a href="#" class="w-3/12 text-center py-4 hover:bg-zinc-900"><span class="text-zinc-500">Likes</span></a>
    </div>



    % include("comp_tweets")



  </div>


  <!----------------------
          right 
  ----------------------->
  <div class="hidden w-11/12 lg:block px-8 pb-8 ">
    <!-- end search -->
    <!-- TRENDS -->
    <!-- WHO TO FOLLOW -->
    % include("comp_trends", show_latest_tweets="True", tweets_and_user_data=tweets_and_user_data)
  </div>

</div>

% include("comp_footer")













