        <div class="relative flex justify-end px-4">
            <button class="absolute z-10 left-4 translate-y-[-50%] flex max-w-[25%] h-auto rounded-full bg-black p-[3px]">
              <img src="/images/avatar_imgs/5ae1823bcc5648bd9e5bf6602ae397d6.jpg" alt="Elon Musk profile image" class="rounded-full hover:opacity-90">
            </button>
          </div>

          <!--  bio -->
          <div class="px-4 pt-5 pb-1">
            <div class="flex items-center gap-1">
              <svg width="20" height="20" viewBox="0 0 24 24" class="text-twitterblue">
                <path fill="currentColor" d="m8.6 22.5l-1.9-3.2l-3.6-.8l.35-3.7L1 12l2.45-2.8l-.35-3.7l3.6-.8l1.9-3.2L12 2.95l3.4-1.45l1.9 3.2l3.6.8l-.35 3.7L23 12l-2.45 2.8l.35 3.7l-3.6.8l-1.9 3.2l-3.4-1.45Zm2.35-6.95L16.6 9.9l-1.4-1.45l-4.25 4.25l-2.15-2.1L7.4 12Z"></path>
              </svg>
            </div>

            <p class="text-base text-twittergray-500 pb-4">
              @elonmusk
            </p>

            <!-- bio text -->

            <div class="flex flex-wrap gap-x-3">
              <!-- bio location -->

              <!-- bio link -->

              <!-- bio birthday -->

              <!-- bio created at -->
              <div class="flex items-center gap-0.5 text-twittergray-500">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 2.4 24 24">
                  <path fill="currentColor" d="M12 16.4q-.425 0-.713-.287T11 15.4q0-.425.288-.713T12 14.4q.425 0 .713.288T13 15.4q0 .425-.288.713T12 16.4Zm-4 0q-.425 0-.713-.287T7 15.4q0-.425.288-.713T8 14.4q.425 0 .713.288T9 15.4q0 .425-.288.713T8 16.4Zm8 0q-.425 0-.713-.287T15 15.4q0-.425.288-.713T16 14.4q.425 0 .713.288T17 15.4q0 .425-.288.713T16 16.4Zm-4 4q-.425 0-.713-.287T11 19.4q0-.425.288-.712T12 18.4q.425 0 .713.288T13 19.4q0 .425-.288.713T12 20.4Zm-4 0q-.425 0-.713-.287T7 19.4q0-.425.288-.712T8 18.4q.425 0 .713.288T9 19.4q0 .425-.288.713T8 20.4Zm8 0q-.425 0-.713-.287T15 19.4q0-.425.288-.712T16 18.4q.425 0 .713.288T17 19.4q0 .425-.288.713T16 20.4Zm-11 4q-.825 0-1.413-.587T3 22.4v-14q0-.825.588-1.413T5 6.4h1v-1q0-.425.288-.713T7 4.4q.425 0 .713.288T8 5.4v1h8v-1q0-.425.288-.713T17 4.4q.425 0 .713.288T18 5.4v1h1q.825 0 1.413.588T21 8.4v14q0 .825-.588 1.413T19 24.4H5Zm0-2h14v-10H5v10Zm0-12h14v-2H5v2Zm0 0v-2v2Z"></path>
                </svg>
                <span class="text-base">Joined June 2009</span>
              </div>
            </div>

            <div class="flex gap-5 text-md py-2">
              <a href="/" class="hover:underline">
                <span class="font-bold">177</span>
                <span class="text-twittergray-500">Following</span>
              </a>

              <a href="/" class="hover:underline">
                <span class="font-bold">128.9M</span>
                <span class="text-twittergray-500">Followers</span>
              </a>
            </div>
          </div>
          <!-- end profile header -->

          <!-- sub nav -->
          <nav class="flex text-base font-semibold border-b border-twitterborder">
            <a class="flex flex-grow flex-col items-center pt-3 px-6 hover:bg-white hover:bg-opacity-10" href="">
              <span class="pb-2">Tweets</span>
              <span class="border-b-4 border-twitterblue rounded-full w-full"></span>
            </a>
            <a class="flex flex-grow justify-center items-center py-3 px-6 hover:bg-white hover:bg-opacity-10" href="">Tweets &amp; replies</a>
            <a class="flex flex-grow justify-center items-center py-3 px-6 hover:bg-white hover:bg-opacity-10" href="">Media</a>
            <a class="flex flex-grow justify-center items-center py-3 px-6 hover:bg-white hover:bg-opacity-10" href="">Likes</a>
          </nav>


        </div>



























Profile backup




% include("comp_header_navbar", title="Profile", contact_active='class="active"')

<!-- Center and right container -->
<div class="grid min-h-screen h-full grid-cols-[190fr_0fr] lg:grid-cols-[110fr_90fr] xl:grid-cols-[110fr_90fr] 2xl:grid-cols-[120fr_80fr]">
  <!------------------------
            center 
  ------------------------->
  <div class="min-h-screen h-full border-x border-gray-600">
    <div class="sticky w-full top-0 pl-4 py-2 z-10 border-b border-zinc-600 bg-black/[.80] backdrop-blur-sm "> <!--top - go back -->
      <a href="/" class="flex items-center gap-9" >
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="m12 20l-8-8l8-8l1.425 1.4l-5.6 5.6H20v2H7.825l5.6 5.6Z"/></svg>
        <div>
          <span class="text-xl font-bold">{{user["user_first_name"]}} {{user["user_last_name"]}}</span>
          <p class="text-sm text-zinc-500 font-semibold">{{user["user_total_tweets"]}} Tweets</p>
        </div>
      </a>
    </div>
    <div class="flex flex-col w-full pb-20"> <!--image section-->
      <div class="relative">
          <img src="/banner/{{user['user_banner']}}">
          <div class="absolute border-2 border-red-400 top-0 w-full h-full flex align-baseline pl-6 justify-items-end">
            <img src="/avatar/{{user['user_avatar']}}" class="w-36 h-36 rounded-full border-4 border-black">
          </div>
      </div>
    </div>

    <!-- Logged info -->
    <div class="p-4 flex flex-col gap-2">
      <div class="flex flex-col">
        <h2 class="font-bold text-2xl">{{user["user_first_name"]}} {{user["user_last_name"]}}</h2>
        <p class="text-zinc-500 text-sm font-normal">@{{user["user_username"]}}</p>
      </div>
      <p class="flex text-zinc-500 items-center gap-2 text-sm font-normal">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="currentColor" d="M19 4h-2V3a1 1 0 0 0-2 0v1H9V3a1 1 0 0 0-2 0v1H5a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h14a3 3 0 0 0 3-3V7a3 3 0 0 0-3-3Zm1 15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-7h16Zm0-9H4V7a1 1 0 0 1 1-1h2v1a1 1 0 0 0 2 0V6h6v1a1 1 0 0 0 2 0V6h2a1 1 0 0 1 1 1Z"/></svg>
        {{user["user_first_name"]}} {{user["user_last_name"]}}
      </p>
      <div class="flex gap-4"> <!--Follows and followers-->
        <p class="font-bold text-sm">{{user["user_total_following"]}} <span class="text-zinc-500 font-normal">Follows</span></p>
        <p class="font-bold text-sm">{{user["user_total_followers"]}} <span class="text-zinc-500 font-normal">Followers</span></p>
      </div>
    </div>
    <!--Logged in Navbar-->
    <div class="flex w-full font-semibold"> 
      <a href="#" class="w-3/12 text-center py-4 hover:bg-zinc-900 "><span class="pb-4 border-b-4 border-[#4A99E9] font-bold">Tweets</span></a>
      <a href="#" class="w-4/12 text-center py-4 hover:bg-zinc-900"><span class="text-zinc-500">Tweets and answers</span></a>
      <a href="#" class="w-3/12 text-center py-4 hover:bg-zinc-900"><span class="text-zinc-500">Media</span></a>
      <a href="#" class="w-3/12 text-center py-4 hover:bg-zinc-900"><span class="text-zinc-500">Likes</span></a>
    </div>



    % include("comp_tweets")



  </div>


  <!----------------------
          right 
  ----------------------->
  <div class="hidden w-11/12 lg:block px-8 pb-8 ">
    <!-- end search -->
    <!-- TRENDS -->
    <!-- WHO TO FOLLOW -->
    % include("comp_trends", show_latest_tweets="True", tweets_and_user_data=tweets_and_user_data)
  </div>

</div>

% include("comp_footer")













