<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="/app.css"> -->
  <link rel="stylesheet" href="/app.css">
  <title>Document</title>
</head>
<body class="">

  <p class="">Tweets</p>

  % for tweet in tweets :
      <form onsubmit="like_tweet(); return false" class="border-2 border-gray-300 my-5">
        <p>{{tweet["tweet_id"]}}</p>
        <p>{{tweet["tweet_text"]}}</p>
        <p id="{{tweet['tweet_id']}}">{{tweet["total_likes"]}}</p>

        <input type="text" name="tweet_id" value="{{tweet['tweet_id']}}" class="hidden">
        % if tweet["liked"] == 1 :
          <button type="submit" id="liked_btn_{{tweet['tweet_id']}}" class="border-2 px-5 py-2 border-gray-600 bg-gray-300 text-red-500">like</button>
        % else :  
          <button type="submit" id="liked_btn_{{tweet['tweet_id']}}" class="border-2 px-5 py-2 border-gray-600 bg-gray-300 text-green-500">like</button>
        % end
      </form>
  % end


  <!-- TODO -->
  <!-- hvis user logged in - tryk på knap - like billede -->
  <!-- Hvis user logged in - har liket billede - stop med at like -->

  <script src="/like_tweet.js"></script>

</body>
</html>